.main_vis {
  padding-top: 10rem;
  text-align: center;
}
.main_vis .txt_area {
  font-weight: 700;
  margin-bottom: 10rem;
}
.main_vis .txt_area h1 {
  font-size: 5.2rem;
  margin-bottom: 2rem;
}
.main_vis .txt_area p {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
.main_vis .vid_area {
  position: relative;
  margin-bottom: 15rem;
}
.main_vis .vid_area video {
  width: 80%;
  background-color: blue;
  margin: 0 auto;
  object-fit: cover;
}
.main_vis .vid_area .back {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50rem;
  background-color: #daf8f2;
  transform: translateU(-50%);
}

.content1 {
  padding: 5% 10% 0 10%;
  position: relative;
}
.content1 .left_area {
  float: left;
  width: 50%;
}
.content1 .left_area h1 {
  font-size: 6rem;
  font-weight: 700;
}
.content1 .left_area h1.on {
  position: fixed;
  top: 5%;
  left: 10%;
}
.content1 .left_area h1.end {
  position: absolute;
  bottom: 0;
  left: 10%;
}
.content1 .right_area {
  float: right;
  width: 50%;
}
.content1 .right_area .card_list li {
  float: left;
  width: 45%;
  height: 500px;
  background: #00c5a8;
  border-radius: 15px;
  margin: 0 0 10% 10%;
}
.content1 .right_area .card_list li:nth-child(2n+1) {
  margin: 0;
}
.content1 .right_area .card_list li:last-child {
  margin-bottom: 0;
}

.all_btn {
  text-align: center;
  margin: 10rem 0 20rem 0;
}

.content2 {
  padding: 10% 0;
  background-color: #f8f8f8;
}
.content2 .tit_wrap {
  font-size: 4.8rem;
  font-weight: 700;
  padding: 0 10%;
  margin-bottom: 10rem;
}
.content2 .vid_wrap {
  width: 100%;
  height: 60rem;
  background: url(../img/con2_vid.png) no-repeat center/cover;
  margin-bottom: 10rem;
}
.content2 .btn_wrap {
  text-align: center;
}